body {
    background-color: #eae6e4;
    min-height: 100vh;
    position: relative;

    .rating-star {
        cursor: pointer;
    }

    i.star-checked {
        color: rgb(255, 206, 44);
    }

    .car-card {
        &:hover {
            background-color: #f8f7f7;
            box-shadow: 5px 7px 8px #c7c7c7;
            transition: background-color 150ms linear;
        }
    }

    .pagination-section {

        a,
        span {
            background-color: (255 255 255 / var(--tw-bg-opacity));
        }

        span {
            color: rgb(61, 63, 68);
        }
    }
}